# Virtual Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Byte-compiled / optimized files
__pycache__/
*.py[cod]
*$py.class

# IDE and OS specifics
.idea/
.vscode/
.DS_Store

# Project specific data
data/*.faiss
uploaded_images/
logs/
*.log
